$info = #d9edf7
$warning = #fcf8e3
$danger = #f2dede


body
	margin 0

.health-New
	background-color $info

.health-Bad
	background-color $danger

.health-Fair
	background-color $warning

.package-false
	background-color $danger
	
.new-site
	display block
	text-align center