body {
  margin: 0;
}
.health-New {
  background-color: #d9edf7;
}
.health-Bad {
  background-color: #f2dede;
}
.health-Fair {
  background-color: #fcf8e3;
}
.package-false {
  background-color: #f2dede;
}
.new-site {
  display: block;
  text-align: center;
}
.sites-list {
  display: table;
  padding: 0;
}
.sites-list li {
  display: table-row;
}
.sites-list li:first-child {
  font-weight: bold;
}
.sites-list li:last-child {
  display: block;
}
.sites-list li > div {
  display: table-cell;
  padding: 4px 7px;
  vertical-align: middle;
}
