<p>Add sites to watch for uptime.</p>

<form name="siteForm">

	<p><input name="name" id="name" type="text" placeholder="Website Name" ng-model="newSite.name" minlength="3" required></p>

	<p><input name="url" id="url" type="text" placeholder="Website Address" ng-model="newSite.link" required></p>

	<p><button class="btn" type="submit" ng-click="addSite()">Add</button></p>

	<!-- <div ng-messages="siteForm.name.$error">
		<p ng-message="minlength">The site name is too short.</p>
		<p ng-message="required">The site name is required.</p>
	</div>
	<div ng-messages="siteForm.link.$error">
		<p ng-message="required">The site link is required.</p>
	</div> -->

</form>